*{
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    height: 238px;
    /*background-color: red;*/
    background: url("Pictures/img/background/bg_header.png") no-repeat center -30px;
}
#header #header_center{
    width: 80%;
    height: 118px;
    /*background-color: dodgerblue;*/
    margin: 0px auto;
}
#header_center #search{
    width: 40%;
    height: 90px;
    /*background-color: deeppink;*/
    float: right;
    margin-top: 28px;
    /*padding-top: 20px;*/
    /*padding-right: 40px;*/
    /*padding-left: 40px;*/
}
#header_center #search .btn{
    background-color: #956400;
}
#header_center #search #hot a{
    text-decoration: none;
    color:#956400 ;
}
#header_center #search #hot span{
    font-weight: bold;
    color:red ;
}
#header #header_bottom{
    width: 80%;
    height: 43px;
    /*background-color: pink;*/
    margin: 0 auto;
}
#header #header_bottom ul li a{
    font-size: 20px;
    color:#956400 ;
}
#header #header_bottom ul .left{
    width: 150px;
    height: 43px;
    float: left;

}
#header #header_bottom ul .right{
    width: 150px;
    height: 43px;
    float: right;
}

.fenkai{
    width: 100%;
    height: 17px;
    background: url("Pictures/img/background/english_font.png") repeat-x;
}

#reg_body{
    width: 810px;
    height: 510px;
    /*background-color: #F8F8F8;*/
    /*background-color: lemonchiffon;*/
    margin: 0 auto;
    border: 5px solid #ccccff;
    border-radius: 25px;
    box-sizing: border-box;
}
/*#reg_body_left{*/
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    /*width: 800px;*/
    /*height: 500px;*/
    /*background-color: lightgreen;*/
    /*float: left;*/
/*}*/
#reg_body p{
    text-align: center;
    font-size: 30px;
    color: gold;
}


#seller_reg{
     display: none;
 }


#footer{
    width: 100%;
    height: 100px;
    /*background-color: orange;*/
    background: url("Pictures/img/background/9.jpg") no-repeat center;
    /*background-size: cover;*/
}

.tishi{
    color: red;
    font-size: 14px;
}
